@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: black;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

#root {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

#page {
  @apply bg-black text-white h-full flex flex-col;
}

.header {
  height: 65px;
}
header {
  @apply header bg-black shadow-md fixed top-0 left-0 right-0 z-50;
}
header > nav {
  @apply header flex items-center justify-between;
}

.main {
  margin: 65px 0.125rem 0 0;
  padding: 0 0 0 1rem;
}
main {
  @apply main flex h-full flex-grow;
}
main > section:first-child {
  @apply w-full bg-black text-white overflow-hidden;
}
main > section:first-child > div:first-child {
  @apply container mx-auto pr-0.5 overflow-y-scroll overflow-x-hidden;
  height: calc(100dvh - 165px);
  padding-bottom: 65px;
}

footer {
  height: 100px;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #6ee7b7; /* text-green-300 */
  border-radius: 6px;
  border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #34d399; /* A slightly darker green on hover */
}

/* Fonts */
.bruno-ace-sc {
  font-family: "Bruno Ace SC", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Basic heading styles */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
  @apply text-4xl;
}
h2,
.h2 {
  font-size: 2rem;
  @apply text-3xl;
}
h3,
.h3 {
  font-size: 1.75rem;
  @apply text-2xl;
}
h4,
.h4 {
  font-size: 1.5rem;
  @apply text-xl;
}
h5,
.h5 {
  font-size: 1.25rem;
  @apply text-lg;
}
h6,
.h6 {
  font-size: 1rem;
  @apply text-base;
}

.subtitle {
  line-height: 0;
  font-size: 0.875rem;
}

.with-subtitle {
  margin-bottom: 0.5rem;
}

p,
.p {
  @apply text-base;
}

/* Basic link styles */
a {
  color: #93c5fd; /* text-blue-300 */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #86efac; /* text-green-300 */
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

.ul {
  @apply flex flex-col gap-4 pl-2 pr-1;
}

.li {
  @apply px-4 py-4 gap-1;
}

.li-dualtone {
  @apply li flex flex-col;
  box-shadow: -2px -2px 5px #00bfff, 2px 2px 5px #39ff14;
  transition: box-shadow 0.3s ease-out;
}
.li-dualtone:hover {
  box-shadow: unset;
  box-shadow: -2px -2px 10px #39ff14, 2px 2px 10px #93c5fd;
}

/* Custom button styles */
.btn {
  @apply font-semibold py-3 px-6 rounded-lg transition duration-200 bruno-ace-sc;
}
.btn-small {
  @apply font-semibold py-2 px-4 rounded-lg transition duration-200 bruno-ace-sc;
}

.btn-blue {
  @apply bg-blue-300 hover:bg-green-300 text-black border border-blue-300 hover:border-green-300  black-neon-glow hover:black-neon-glow;
}
.btn-blue-outline {
  @apply bg-black text-blue-300 border border-blue-300 hover:text-green-300 hover:border-green-300 blue-neon-glow hover:green-neon-glow;
}
.btn-blue-link {
  @apply text-blue-300 hover:text-green-300 blue-neon-glow hover:green-neon-glow;
}

.btn-green {
  @apply bg-green-300 hover:bg-blue-300 text-black border border-green-300  hover:border-blue-300 black-neon-glow hover:black-neon-glow;
}
.btn-green-outline {
  @apply bg-black text-green-300  border border-green-300 hover:text-blue-300 hover:border-blue-300 green-neon-glow hover:blue-neon-glow;
}
.btn-green-link {
  @apply text-green-300 hover:text-blue-300 green-neon-glow hover:blue-neon-glow;
}

/* Custom input styles */
.input {
  @apply w-full py-2 px-3 rounded-lg transition duration-300 ease-in-out focus:outline-none font-semibold;
}

.input-default {
  @apply input bg-blue-300 bg-opacity-5 text-white border border-blue-300 focus:border-green-300;
}

.input-green-outline {
  @apply input bg-transparent border border-green-300 text-green-300 focus:border-green-400;
}

.input-green-solid {
  @apply input bg-green-300 border border-green-300 text-black focus:bg-green-400 focus:border-green-400;
}

.input-blue-outline {
  @apply input bg-transparent border border-blue-300 text-blue-300 focus:border-blue-400;
}

.input-blue-solid {
  @apply input bg-blue-300 border border-blue-300 text-black focus:bg-blue-400 focus:border-blue-400;
}

/* Glows */
.green-neon-glow {
  text-shadow: 0 0 1.5px #39ff14, 0 0 1.5px #39ff14, 0 0 1.5px #39ff14,
    0 0 1.5px #39ff14, 0 0 1.5px #39ff14, 0 0 1.5px #39ff14, 0 0 1.5px #39ff14;
  color: #39ff14;
}
.hover\:green-neon-glow:hover {
  text-shadow: 0 0 1.5px #39ff14, 0 0 1.5px #39ff14, 0 0 1.5px #39ff14,
    0 0 1.5px #39ff14, 0 0 1.5px #39ff14, 0 0 1.5px #39ff14, 0 0 1.5px #39ff14;
  color: #39ff14;
}

.blue-neon-glow {
  text-shadow: 0 0 1.5px #00bfff, 0 0 1.5px #00bfff, 0 0 1.5px #00bfff,
    0 0 1.5px #00bfff, 0 0 1.5px #00bfff, 0 0 1.5px #00bfff, 0 0 1.5px #00bfff;
  color: #00bfff;
}
.hover\:blue-neon-glow:hover {
  text-shadow: 0 0 1.5px #00bfff, 0 0 1.5px #00bfff, 0 0 1.5px #00bfff,
    0 0 1.5px #00bfff, 0 0 1.5px #00bfff, 0 0 1.5px #00bfff, 0 0 1.5px #00bfff;
  color: #00bfff;
}

.black-neon-glow {
  text-shadow: 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000,
    0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000;
  color: #000000;
}
.hover\:black-neon-glow:hover {
  text-shadow: 0 0 1.5px #000000, 0 0 1.5px #000000, 0 0 1.5px #000000,
    0 0 1.5px #000000, 0 0 1.5px #000000, 0 0 1.5px #000000, 0 0 1.5px #000000;
  color: #000000;
}

.white-neon-glow {
  text-shadow: 0 0 1.5px #ffffff, 0 0 1.5px #ffffff, 0 0 1.5px #ffffff,
    0 0 1.5px #ffffff, 0 0 1.5px #ffffff, 0 0 1.5px #ffffff, 0 0 1.5px #ffffff;
  color: #ffffff;
}
.hover\:white-neon-glow:hover {
  text-shadow: 0 0 1.5px #ffffff, 0 0 1.5px #ffffff, 0 0 1.5px #ffffff,
    0 0 1.5px #ffffff, 0 0 1.5px #ffffff, 0 0 1.5px #ffffff, 0 0 1.5px #ffffff;
  color: #ffffff;
}

/* Utils */

.no-padding {
  padding: 0 !important;
}

.green-heading {
  @apply px-2 font-bold bruno-ace-sc green-neon-glow;
}
.green-heading-lg {
  @apply text-lg px-2 font-bold bruno-ace-sc text-green-300 green-neon-glow;
}

.blue-heading {
  @apply text-lg font-bold bruno-ace-sc blue-neon-glow;
}

/* Full height slider styles */
.full-height-slider {
  /* height: 100%; */
  height: calc(100% - 80px);
}

.full-height-slider.slick-slider.slick-initialized {
  width: calc(100% - 50px);
  margin: 0 auto;
}

.full-height-slider .slick-list,
.full-height-slider .slick-track,
.full-height-slider .slick-slide > div {
  height: 100%;
}
